 [Unit]
 Description=PlantBuddy Service
 After=multi-user.target

 [Service]
 Type=idle  
 ExecStart=/home/pi/repo/PlantBuddy/env/bin/python -E /home/pi/repo/PlantBuddy/Software/PlantBuddyApp.py  
 User=pi  

 [Install]  
 WantedBy=multi-user.target